<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Investors
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- Default Searchbar -->
  <ion-searchbar></ion-searchbar>
  <!-- Results-->
<ion-list>
  <!-- Content-->
  <ion-item *ngFor="let item of investors|async">
      <!-- Thumbnail -->
      <ion-thumbnail slot="start">
        <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
      </ion-thumbnail >
      <ion-label>
        <h2>{{item.name.first}} </h2>
        <h3>{{item.idea.description}} </h3>
        <!-- Rating-->
        <p>
          <ion-icon name="heart"></ion-icon>&nbsp;station.score &nbsp;&bull;&nbsp;
          station.distance | number:'.1-2'km &nbsp;&bull;&nbsp;
          <ion-icon name="walk"></ion-icon>&nbsp;station.distance/4.5 | number:'.1-2' hr
        </p>
      </ion-label>
  </ion-item>
</ion-list>