<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Idea</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
  <img class="fulli-image" src="assets/idea_generic.jpg">
  <ion-card-header>
    <ion-card-subtitle>Created by: {{ideaItem.user.name.first}} {{ideaItem.user.name.last}}</ion-card-subtitle>
    <ion-card-title>{{ideaItem.idea.title}}</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    {{ideaItem.idea.description}}
  </ion-card-content>
</ion-card>

</ion-content>
