<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      EHub
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
  <ion-fab-button routerLink="/create-idea">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>

  <!-- Default Searchbar -->
  <ion-searchbar></ion-searchbar>
  <!-- Results-->
<ion-list>
  <!-- Content-->
  <ion-item *ngFor="let item of ideaItems|async" (click)="navDetail(item)">
      <!-- Thumbnail -->
      <ion-thumbnail slot="start">
        <img src="assets/idea_logo.jpg">
      </ion-thumbnail >
      <ion-label>
        <h2>{{item.idea.title}} </h2>
        <h3>{{item.idea.shortDescription}} </h3>
        <!-- Rating-->
        <p>
          <ion-icon name="heart"></ion-icon>
        </p>
      </ion-label>
      <ion-badge color="success" style="position:absolute;top:10px;right:10px;">
        {{ item.user.displayName }}
      </ion-badge>
  </ion-item>
</ion-list>