<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Create Idea</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Tobe removed -->
  <ion-item>
    <ion-button (click)="dumpIdeas()">Dump Ideas</ion-button>
  </ion-item>
  <form [formGroup]="ideaGroup" (ngSubmit)="addIdea(ideaGroup.value)">
    <ion-item line="full">
      <ion-label position="floating" color="primary">Title</ion-label>
      <ion-input type="text" formControlName="title" required></ion-input>
    </ion-item>
    <ion-item line="full">
      <ion-label position="floating" color="primary">Short Description</ion-label>
      <ion-textarea type="text" formControlName="shortDescription" required></ion-textarea>
    </ion-item>
    <ion-item line="full">
      <ion-label position="floating" color="primary">Description</ion-label>
      <ion-textarea type="text" formControlName="description" required></ion-textarea>
    </ion-item>
    <ion-row>
      <ion-col> 
      <ion-button type="submit" [disabled]="!ideaGroup.valid" expand="block">Create</ion-button>
      </ion-col> 
    </ion-row>
    </form>
</ion-content>
