<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Register User</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="registerGroup" (ngSubmit)="register(registerGroup.value)">   
    <ion-item lines="full">
      <ion-label position="floating">Display Name</ion-label>
      <ion-input type="text" formControlName="displayName" required></ion-input>
    </ion-item>  
    <ion-item lines="full">
      <ion-label position="floating">Email</ion-label>
      <ion-input type="text" formControlName="email" required></ion-input>
    </ion-item> 

    <ion-item lines="full">
      <ion-label position="floating">Password</ion-label>
      <ion-input type="text" formControlName="password" required></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label>Entrepreneur</ion-label>
      <ion-checkbox slot="end" type="text" formControlName="entrepreneurRole"></ion-checkbox>
    </ion-item>
    <ion-item lines="full">
      <ion-label>Investor</ion-label>
      <ion-checkbox slot="end" type="text" formControlName="investorRole"></ion-checkbox>
    </ion-item>

    <ion-row>
      <ion-col> 
      <ion-button type="submit" (click)="register(registerGroup.value)" expand="block">Register</ion-button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>