<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>dashboard</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- List of entrepreneurs ideas -->
  <ion-list>
    <ion-list-header>
      <ion-label>Intrepreneurial</ion-label>
    </ion-list-header>
    <ion-item-sliding *ngFor="let idea of ideas|async" #ionItemSliding>
      <ion-item>
        <ion-icon src="assets/idea_logo.jpg"></ion-icon>
        <ion-label>{{idea.title}}</ion-label>
        <ion-toggle [(ngModel)]="idea.status" slot="end"></ion-toggle>
      </ion-item>
      <ion-item-options side="end" (ionSwipe)="slidingItem">
        <ion-item-option (click)="deleteIdea(ionItemSliding, i)" color="danger">
          <ion-icon slot="icon-only" name="trash"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
  <!-- List of investment ideas -->
  <ion-list>
  <ion-list-header>
    <ion-label>Investment</ion-label>
  </ion-list-header>
  </ion-list>

  <ion-item lines="full">
    <ion-label>Entrepreneur</ion-label>
    <ion-checkbox slot="end" [(ngModel)]="role_entrepreneur"></ion-checkbox>
  </ion-item>
  <ion-item lines="full">
    <ion-label>Investor</ion-label>
    <ion-checkbox slot="end" [(ngModel)]="role_investor"></ion-checkbox>
  </ion-item>
  <ion-button type="submit" (click)="logout()" expand="block">Logout</ion-button>
</ion-content>
