<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      EHub
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- Default Searchbar -->
  <ion-searchbar></ion-searchbar>
  
  <ion-fab *ngIf="isLoggedIn" vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button routerLink="/create-idea">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <!-- Results-->
<ion-list>
  <!-- Header-->
  <ion-list-header>
    Entrepreneur
  </ion-list-header>
  <!-- Content-->
  <ion-item *ngFor="let item of entrepreneurs|async">
      <!-- Thumbnail -->
      <ion-thumbnail slot="start">
        <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
      </ion-thumbnail >
      <ion-label>
        <h2>{{item.user.displayName}} </h2>
        <!-- <h2>{{item.user.name.first}} {{item.user.name.last}} </h2> -->
        <!-- Rating-->
        <p>
          <ion-icon name="heart"></ion-icon>&nbsp;station.score &nbsp;&bull;&nbsp;
          station.distance | number:'.1-2'km &nbsp;&bull;&nbsp;
          <ion-icon name="walk"></ion-icon>&nbsp;station.distance/4.5 | number:'.1-2' hr
        </p>
      </ion-label>
  </ion-item>
</ion-list>