<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Forgot Account</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form>    
    <ion-item>
      <p>
        Enter email address to reset password, and then check your email to find the reset-link.
      </p>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating">Email</ion-label>
      <ion-input type="text" #email required></ion-input>
    </ion-item> 

    <ion-row>
      <ion-col> 
      <ion-button type="submit" (click)="resetPass(email)" expand="block">Reset</ion-button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>